.title {
  margin-top: 76px;
  margin-bottom: 36px;
  text-align: center;
}
.title h3 {
  color: var(--color2);
  font-family: "Water brush", sans-serif;
  font-size: 46px;
  font-weight: 400;
}
.title h1 {
  color: var(--color5);
  font-family: "Water Sans", sans-serif;
  font-size: 64px;
  font-weight: 100;
  letter-spacing: 3px;
  margin-top: 18px;
}
.title p {
  color: var(--color5);
  font-family: "Water Sans", sans-serif;
  width: 700px;
  margin: 0 auto;
  margin-top: 18px;
}
