* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --color1: white;
  --color2: #CD1A40;
  --color3: #FF803C;
  --color4: #999999;
  --color5: #1E1E1E;
  --color6: #FFF9F0;
}

/* * {
  border: 3px solid black;
} */

.container-padding {
  padding-left: 93px;
  padding-right: 93px;
}

#root {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--color5) !important;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color2) !important;
}


@media screen and (max-width:650px) {
  .container-padding {
    padding-left: 40px;
    padding-right: 40px;
  }
  #root {
    overflow-x: hidden !important;
  }
}

@media screen and (max-width:500px) {
  .container-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width:400px) {
  .container-padding {
    padding-left: 5px;
    padding-right: 5px;
  }
}